IndentWidth: 4
AlignConsecutiveAssignments: Consecutive
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
# BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBinaryOperators: All
AlignOperands: DontAlign
AllowShortIfStatementsOnASingleLine: true
InsertBraces: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Always
BreakAfterAttributes: Always

